.nav-bar {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar .nav-bar-head {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-head svg,
.user svg{
    fill: #111827;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0.8rem;
}

.nav-bar-head form {
    display: flex;
    padding: 0;
    margin: 0;
    width: clamp(20rem, 53%, 50rem);
}

.nav-bar-head input {
    background: #e5e7eb;
    border: 1px #e5e7eb;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    width: 100% ;
    margin: 0.5rem;
    height: 2.5rem;
    padding: 16px;
}

.nav-bar-head input:focus {
    outline: none;
    border: 1px #e5e7eb;
}

.nav-bar .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.user img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.user h1 {
    padding: 0;
    margin: 0;
}

.nav-bar .nav-bar-main {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.nav-bar-main .acc-profile {
    width: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0 4rem 0 0 ;
}
.nav-bar-main .action-buttons {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem ;
}


.acc-profile img {
    border-radius: 50%;
    width: 95px;
    height: 95px;
}

.action-buttons button {
    background: #3b82f6;
    color: #f3f4f6;
    border: none;
    border-radius: 1.5rem;
    padding: 0.7rem 1.2rem;
    font-size: 1.5rem;
    font-family: "Lato", serif;
    font-weight: Bold; ;
}

.action-buttons button:hover {
    cursor: pointer;
    background: #2563eb;
}

.acc-profile p,
.acc-profile h1 {
    padding: 0;
    margin: 0;
}
.acc-profile a {
    text-decoration: none;
    color: #111827;;
    font-family: "Lato", serif;
}